img {
  width: 80%;
}

#container {
    background-color: silver;
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 3% 5%;
}

.childobj {
    display: inline;
    width: 100%;
    margin: 0;
    padding: 0;
}

.meta{
  display: inline-block;
  width: 32%;
  font-size: 2em;
  font-weight: bold;
}

.container{
  display:block;
}

.text{
  text-align: center;
}

#time-numerator{
  width: 2em;
  margin: 0 auto;
  border-bottom: solid black;
}

#time-denominator{
}

.key{
  position: relative;
  vertical-align: text-top;
  display: inline-block;

  border: solid thin black;
  background-color: white;

  width: 15px;
  height: 100px;
  z-index: 0;
}

.key1{
  background-color: black;
  width: 10px;
  height: 65px;
  margin: 0 -6px;
  z-index: 1;
}

.note {
  visibility: visible;
  position: absolute;
  width: 92%;
  border: solid 2px;
}

.note-path{
  visibility: hidden;
  height: 100%;
}

#piano-container {
  width: 100%;
  padding: 0;
  margin: 0;
  /*margin-top: 30%;*/

  white-space: nowrap;
}

#piano {
  text-align: center;
}

#note-container {
  height: 400px;
  width: 100%;
  text-align: center;
}

.rounded {
  background-color: #CCCCCC;
	border-radius: 1em;
	border: solid #EEEEEE;
	border-width: 0.2em;
}

.dialogueContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.5);
}

.dialogue {
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 30%;
  height: 30%;
  padding: 3%;

	border: solid #BBBBBB;
	background-color: #DDDDDD;
	border-width: 0.3em;
	border-radius: 2em;

  text-align: center;
	font: bold 1.5em sans-serif;
}
